.bg-custom {
  background-color: #0000ff;
}

.portfolio-text p {
  font-size: 50px;
}

/* Footer Styles */
.footer-custom {
  min-height:15em;
}

.footer-custom p{
  font-size: 50px;
}

p > .text-line {
  text-decoration: line-through;
}
