/* Fixed position Name */
h2.text-info{
  position: fixed;
}

/* Reset border radius */
.card, .jumbotron {
  border-radius: 0 !important;
}

/* Portfolio Styles */
.bg-custom {
  background-color: #0000ff;
}

.portfolio-text p {
  font-size: 50px;
}

/* Footer Styles */
.footer-custom {
  min-height:15em;
}

.footer-custom p{
  font-size: 50px;
}

p > .text-line {
  text-decoration: line-through;
}


/* Reset fixed name postion */
@media only screen and (max-width: 728px) {
  h2.text-info {
    position:relative;
  }
}
